@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #777

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text

	input, textarea
		border: #666 1px solid
		outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

//.owl-carousel
//	touch-action: pan-y

@import "media"
// Always at the end
